{
  "stage": 0,
  "env": {
    "development": {
      "plugins": ["react-transform", "react-autoprefix"],
      "extra": {
        "react-transform": {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }
      }
    },
    "production": {
      "plugins": ["react-autoprefix"]
    }
  }
}
